extends layout
block content
    .body
      .information
        .notification.child
          h2 Thông báo
        .news.child
          h2 Tin tức
          .item
            a(href='')
              | Thông báo V/v áp dụng nội dung ôn thi tốt nghiệp Hệ cao đẳng ngành Kế toán C15 và hệ Trung cấp ngành Kỹ thuật Chế biến món ăn K21
          .item
            a(href='')
              | Thông báo V/v thay đổi thời gian đăng ký và tổ chức học lại năm học 2019-2020
          .item
            a(href='')
              | Thông báo V/v thay đổi thời gian đăng ký và tổ chức học lại năm học 2019-2020
          .item
            a(href='')
              | Thông báo V/v thay đổi thời gian đăng ký và tổ chức học lại năm học 2019-2020
          a(href='', style='font-style: italic;') Xem tất cả
        .college-entrance.child
          h2 Tuyển sinh
      .media
        img(src='/48 NAM.png', alt='')
        iframe(src='https://www.youtube.com/embed/mXm6iY79Q3w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .information.info-2
        .notification.child
          h2 Nghiên cứu khoa học
        .news.child
          h2 Hợp tác-liên kết
          .item
            a(href='')
              img(src='https://www.w3schools.com/w3css/img_lights.jpg', alt='image')
              |                         Thông báo V/v áp dụng nội dung ôn thi tốt nghiệp Hệ cao đẳng ngành Kế toán C15 và hệ Trung cấp ngành Kỹ thuật Chế biến món ăn K21
          .item
            a(href='')
              img(src='https://www.w3schools.com/w3css/img_lights.jpg', alt='image')
              |                         Thông báo V/v áp dụng nội dung ôn thi tốt nghiệp Hệ cao đẳng ngành Kế toán C15 và hệ Trung cấp ngành Kỹ thuật Chế biến món ăn K21
          .item
            a(href='')
              img(src='https://www.w3schools.com/w3css/img_lights.jpg', alt='image')
              |                         Thông báo V/v áp dụng nội dung ôn thi tốt nghiệp Hệ cao đẳng ngành Kế toán C15 và hệ Trung cấp ngành Kỹ thuật Chế biến món ăn K21
          .item
            a(href='')
              img(src='https://www.w3schools.com/w3css/img_lights.jpg', alt='image')
              |                         Thông báo V/v thay đổi thời gian đăng ký và tổ chức học lại năm học 2019-2020
          a(href='', style='font-style: italic;') Xem tất cả
        .college-entrance.child
          h2 Danh mục
          .item
            a(href='')
              | Lịch công tác tuần
          .item
            a(href="") Tra cứu điểm
          .item  
            a(href="") Văn phòng trực tuyến
          .item  
            a(href="") Hòm thư
          .item  
            a(href="") Form mẫu các văn bản
    