doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Đại Học Dân Lập Hải Dương
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css' type="text/css")
    link(rel="shortcut icon", href="/FAVICON.png", type="image/x-icon")
    block css
  body
    .header
      .top
        a.logo(href='/')
          img(src='/MAIN_LOGO.png', alt='logo')
        form.search-box(action="/search",method="get")
          input(type='text', placeholder='Tìm thông tin' , name="q")
          button
            i.fa.fa-search(aria-hidden='true')
      ul.row-menu
        li.option
          a(href='/') Trang chủ
        li.drop-down.option
          a(href='/post?id=5f54f9726ef9a535a0ff8f48') Giới thiệu
          ul.child-menu
            li
              a(href='/post?id=5f54aa0f907978310c369e63') Quy chế tổ chức
        li.option.drop-down
          a(href='/search?q=tuyen sinh') Tuyển sinh
          ul.child-menu
            li
              a(href='/search?q=thong tin tuyen sinh') Thông tin tuyển sinh
            li
              a(href='/search?q=tuyen sinh dai hoc') Tuyển sinh đại học
            li
              a(href='/search?q=tuyen sinh sau dai hoc') Tuyển sinh sau đại học
            li
              a(href='/search?q=dao tao ngan han') Đào tạo ngắn hạn
        li.option.drop-down
          a(href='/search?q=sinh vien') Sinh viên
          ul.child-menu
            li
              a(href='/search?q=hoc phi hoc bong') Học phí, học bổng
            li
              a(href='/search?q=co hoi viec lam') Cơ hội việc làm
        li.option.drop-down
          a(href='/post/5f59e520c790e859b4a57462') Hợp tác-Liên kết
          ul.child-menu
            li
              a(href='/search?q=hop tac quoc te') Hợp tác quốc tế
            li
              a(href='/search?q=hop tac trong nuoc') Hợp tác trong nước
        li.option.drop-down
          a(href='/search?q=dao tao') Đào tạo
          ul.child-menu
            li
              a(href='/post/5f59e343c790e859b4a5745d') Các hệ đào tạo
            li
              a(href='/search?q=lich dao tao') Lịch đào tạo
    block content
    .footer
      .more-info
        .row
          .col
            h4 Giới thiệu
            a(href='/search?q=gioi thieu') Giới thiệu chung
            a(href='/post/5f637249f25043438c229c0b') Quyết định thành lập
            a(href='/post?id=5f54aa0f907978310c369e63') Quy chế tổ chức
          .col
            h4 Đào tạo
            a(href='/post/5f59e343c790e859b4a5745d') Giới thiệu các hệ đào tạo
            a(href='/search?q=lich dao tao') Lịch giảng dạy
          .col
            h4 Đào tạo
            a(href='/search?q=tuyen sinh') Thông tin tuyển sinh
          .col
            h4 Quản lý cán bộ
            a(href='https://www.facebook.com/tien.trannhat.90281') Văn phòng trực tuyến
            a(href="/add-post") Thêm bài viết
        .address
          h4 TRƯỜNG ĐẠI HỌC DÂN LẬP HẢI DƯƠNG
          h5 Địa chỉ : 1 Vũ Hựu, Thanh Bình, TP.Hải Dương, Hải Dương
block script