.container{
    margin:auto;
    margin-bottom: 20px;
    width: 80%;
}
.item{
    min-height: 30px;
    border:1px solid gray;
    margin-bottom:10px;
}
.item a{
    color: blue;
    display: block;
    margin-left: 20px;
}
.container p{
    margin:auto; 
    width:80%; 
    font-size:20px; 
    text-align:center;
}
.content{
    font-size:11px;
    line-height: 16px;
}
.content img{
    display: block;
    width: 70%;
    object-fit: contain;
    margin: 10px auto;
}